<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"> <!-- Add Thymeleaf -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Learning Spring!</title>
</head>
<body>
    <div class="container" th:switch="${contatos}" th:class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Learning Spring</h2>

                <table class="table table-hover table-responsive-md">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Telefone</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr th:each="contato : ${contatos}">
                            <td th:text="${contato.id}"></td>
                            <td th:text="${contato.nome}"></td>
                            <td th:text="${contato.email}"></td>
                            <td th:text="${contato.telefone}"></td>
                            <td>
                                <a th:href="@{/delete/{id}(id=${contato.id})}" class="btn-sm btn-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="20px">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                    </svg>
                                </a>
                            </td>
                            <td>
                                <a th:href="@{/edit/{id}(id=${contato.id})}" class="btn-sm btn-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="20px">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                    </svg>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>

        <p><a href="/cadastrar" class="btn btn-success">Adicionar Usuario</a> </p>
    </div>



<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
</html>